<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

                                       {% include nav.html %}

					<!-- Banner -->
						<section id="banner">
							<header>
								<p>Because sometimes free costs too damn much.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
							       <div class="4u">
									<section class="first">
										<img src=/assets/images/nyc_recording.png height=260 />
										<header>
										  <a href="/pages/why-is-this-a-problem"><h2>Why is this a problem?</h2></a>
										</header>
										<p>So what? Why should I care?</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<img src=/assets/images/rethink_demands.png height=260 />
										<header>
										  <a href="/pages/our-demands"><h2>Our Demands!</h2></a>
										</header>
										<p>We want free WiFi without surviellance</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<img src=/assets/images/cash_money.png height=260 />
										<header>
											<a href="/pages/who-owns-link"><h2>Who Owns LinkNYC?</h2></a>
										</header>
										<p>Breaking open the corporate labyrinth</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="/pages/learn-more" class="button big">Learn More</a></li>
									<li><a href="/pages/take-action" class="button alt big">Take Action</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>
