Hundreds of LinkNYC kiosks are going up every month. Each kiosk is equipped with audio microphones, bluetooth beacons, and two cameras. These technologies collect personal information about New Yorkers. Law enforcement agencies can easily access this information, corporations sell it for profit, and the government now has the tools to practice mass surveillance.
LinkNYC is not community WiFi. It is mass surveillance and corporate profit boxed and marketed as free WiFi.
<br/><br/>
Say no to LinkNYC. Rethink Link.
