Hundreds of LinkNYC kiosks are going up every month. Each kiosk is equipped with audio microphones, bluetooth beacons, and three cameras.  These technologies collect personal information about every New Yorker.  Law enforcement agencies can easily access this information, corporations sell it for profit, and the government now has the tools to practice mass surveillance. 
<br /><br />
Mass surveillance&mdash;whether by corporations or the government&mdash;is never colorblind and hits vulnerable communities disproportionately.
<br /><br />
LinkNYC is not community WiFi. It is mass surveillance and corporate profit boxed and marketed as free WiFi.  We believe that the basic building blocks of the LinkNYC program need to be re-thought.  Free WFi  should really be free, and citizens - not corporations - must have the freedom to decide if and when their personal information is used. <br /><br />
LinkNYC is not community WiFi. It is mass surveillance and corporate profit boxed and marketed as free WiFi.
<br/><br/>
<strong>Say no to LinkNYC. Rethink Link.</strong>
