<!-- Header -->

			<!-- Nav -->
				<nav id="nav">
					<ul>
					  {% assign current = page.url | downcase | split: '/' %}
						<li {% if page.url == "/" %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
						<li {% if current[-1] == 'what-is-link' %}class='current'{% endif %}><a href="{{ site.baseurl }}/pages/what-is-link">What is LinkNYC?</a></li>
						<li {% if current[-1] == 'quick-facts'%}class='current'{% endif %}><a href="{{ site.baseurl
}}/pages/quick-facts">Quick Facts</a></li>
						<li {% if current[-1] == 'take-action' %}class='current'{% endif %}><a href="{{ site.baseurl }}/pages/take-action">Take action!</a></li>
					</ul>
				</nav>
					<!-- Banner -->
						<section id="banner">
							<header>
								<p>Because sometimes free costs too damn much.</p>
							</header>
						</section>

