{% include header.html %}
	<body class="no-sidebar">

	<div id="header-wrapper">
		<div id="header">
		  {% include nav.html %}
		</div>
	</div>
		<!-- Main -->
                <div id="main-wrapper">
				<div class="container">

					<!-- Content -->
						<article class="box post">
							<header>
								<h2>{{ page.title }}</h2>
								<p>{{ page.subtitle }}</p>
							</header>
							<p>
							<div class="12u">
							  <section>
							  {{ page.content }}
							  </section>
							  </div>
							</p>
						</article>

				</div>
		</div>

