{% include header.html %}
	<body class="no-sidebar">

	<div id="header-wrapper">
		<div id="header">
		  {% include nav.html %}
		</div>
	</div>
		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">

					<!-- Content -->
						<article class="box post">
							<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
							<header>
								<h2>{{ page.title }}</h2>
								<p>{{ page.subtitle }}</p>
							</header>
							<p>
				  <section>
				  <header>
				    <b>Get updates</b>
				  </header>
				  <p>
				  Sign up to our low volume mailing list. 
				  <div style="width:40%"><form method="POST" action="http://formspree.io/peoplelinknyc@riseup.net">
				       <input type="email" name="email" placeholder="Your email:">
				       <textarea name="message" placeholder="Optional:	Your comments"></textarea>
				        <button type="submit">Send</button>
				        </form>
				    </div>
							  </section>
							</p>
							<p>
							  <section>
							  {{ page.content }}
							  </section>
							</p>
						</article>

				</div>
			</div>
